/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

/* ESERCIZIO 1 */

.ex-1-square:hover {
  background-color: red;
}

.ex-1-square {
  transition: background-color 2s;
}

/* ESERCIZIO 2 */

.ex-2-square:active {
  width: 100%;
}

.ex-2-square {
  transition: width 4s;
}

/* ESERCIZIO 3 */

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-3-square {
  transform: border-radius;
  transition: 0.5s;
}

/* ESERCIZIO 4 */

.ex-4-square:hover {
  filter: opacity(0);
}

.ex-4-square {
  transition: 1s;
}

/* ESERCIZIO 5 */

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

.ex-5-square {
  transition: 1s;
}

/* ESERCIZIO 6 */

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* ESERCIZIO 7 */

.ex-7-img:hover {
  filter: sepia(60%) grayscale(40%);
}

.ex-7-img {
  transition: 2s;
}

/* ESERCIZIO 8 */

.ex-8-img:hover {
  filter: sepia(60%) grayscale(20%);
  border-radius: 20px;
}

.ex-8-img {
  transition: 2s;
}

/* ESERCIZIO 9 */

.ex-9-img:hover {
  filter: sepia(50%) grayscale(30%);
  border-radius: 20px;
  transform: scale(1.5);
}

.ex-9-img {
  transition: 2s;
}

/* ESERCIZIO 10 */

.ex-10-icon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* ESERCIZIO 11 */

.ex-11-icon:hover {
  animation: turn 3s linear infinite;
}

@keyframes turn {
  75% {
    transform: rotate(1turn);
  }
}

/* ESERCIZIO 12 */

.ex-12-button:hover .ex-12-top-white {
  animation: topwhite 2s linear;
}
@keyframes topwhite {
  0% {
    left: 10%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: bottomwhite 2s linear;
}
@keyframes bottomwhite {
  0% {
    right: 20%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 20%;
  }
}

/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white {
  animation: topWhite 2s linear;
}

@keyframes topWhite {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: 80%;
    top: -10px;
  }
  50% {
    left: 80%;
    top: 100%;
  }
  80% {
    left: 0;
    top: 100%;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: bottomWhite 2s linear;
}

@keyframes bottomWhite {
  0% {
    right: 10%;
    bottom: -10px;
  }
  30% {
    right: 80%;
    bottom: -10px;
  }
  50% {
    right: 80%;
    bottom: 100%;
  }
  80% {
    right: 0;
    bottom: 100%;
  }

  100% {
    right: 10%;
    bottom: -10px;
  }
}
